# Python
__pycache__/
*.pyc

# Android
.gradle/
build/
local.properties

# Env
.env

# OS
.DS_Store
Thumbs.db
=======
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties